<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Secure Password Generator</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body  style="max-width: 1170px; position:relative; min-height: 100vh; display: flex; flex-direction: column; padding-bottom: 60px;">
	<header>
		
	</header>
	
	<main layout:fragment="content" style="flex: 1;">
		
	</main>
	
	<footer class="bg-light border-top py-3 text-center position-fixed bottom-0 w-100 z-index-10">
		<div class="container text-center">
			<div class="d-flex justify-content-center mb-2">
				<a th:href="@{/}" class="mx-3 text-primary text-decoration-none">TOPページ</a>
				<a th:href="@{/generate}" class="mx-3 text-primary text-decoration-none">パスワード生成</a>
			</div>
			<small class="text-muted">&copy; 2024 SecurePasswordGenerator</small>
		</div>
	</footer>
</body>
</html>