<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード生成結果</title>
<!--*/<link rel="stylesheet" th:href="@{/css/style.css}">/*-->
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1 class="mt-3">パスワード生成結果</h1>

<div th:each="password: ${passwordList}">
    <p id="password-{{password.password}}" th:text="${password.password}" class="alert alert-info mt-3 w-50" style="cursor: pointer;" onclick="copyToClipboard(this)">
        <!-- パスワード表示部分 -->
    </p>
</div>

<!--*/戻るボタンと設定を引き継ぐフォーム/*-->
<div class="text-left" th:object="${passwordConfigForm}">
	<form th:action="@{/generate}" method="POST">
		<input type="hidden" name="length" th:value="*{length}">
		<input type="hidden" name="includeSymbols" th:value="*{includeSymbols}">
		<input type="hidden" name="includeLowercase" th:value="*{includeLowercase}">
		<input type="hidden" name="includeUppercase" th:value="*{includeUppercase}">
		<input type="hidden" name="includeNumbers" th:value="*{includeNumbers}">
		<input type="submit" value="戻る" class="btn btn-secondary">
	</form>
	
	<a th:href="@{/}" class="btn btn-link">TOPページ</a>
</div>

<script>
    // クリックでコピーする関数
    function copyToClipboard(element) {
        var text = element.innerText; // クリックされた要素のテキストを取得
        navigator.clipboard.writeText(text).then(function() {
            alert("コピーしました: " + text); // コピー成功時のアラート
        }).catch(function(err) {
            alert("コピーに失敗しました: " + err); // コピー失敗時のエラーハンドリング
        });
    }
</script>
</body>
</html>